@font-face {
    font-family: digital-7;
    src: url(./assets/fonts/digital-7.ttf);
}
.calculator {
  border: solid;
  display: flex;
  flex-flow: column;
  width: 25rem;
  height: 50rem;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  background-color: beige;
}
.display {
  border: solid;
  width: 90%;
  height: 10rem;
  background-color: black;
}
.buttons {
  border: solid red;
  display: flex;
  flex-flow: row;
  width: 90%;
  height: 35rem;
  background-color: black;
}

.numeros {
  display: flex;
  flex-flow: column;
  width: 75%;
  height: 100%;
  justify-content: space-evenly;
  
}
.operadores {
  display: flex;
  flex-flow: column;
  width: 25%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}
.operator{
    background-color: black;
    color: white;
}
.number{
    color: white;
    background-color: gray;
}
.seven,
.four,
.one,
.zero {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-around;
  align-items: center;
  flex: auto;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons button{
    flex: auto;
    height: 100%;
    width: 100%;
    font-size: 2rem;
}
#displayValue{
    font-size: 3rem;
    color: green;
    font-family: digital-7;
}